= form_for(@resume) do |f|
  - if @resume.errors.any?
    #error_explanation
      %h2
        = pluralize(@resume.errors.count, "error")
        prohibited this resume from being saved:
      %ul
        - @resume.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :user_id
    %br/
    = f.text_field :user_id
  .field
    = f.label :fields
    %br/
    = f.text_field :fields
  .actions
    = f.submit
